//nav buttons color
$main-color: #ecf0f1;
$dashbored-color: #343A40;
$mini-background: #2d3436;
$link-color:bisque;
$hover-color: brown;

//classes
.selected {
    background-color: $mini-background;
    color: white;
}
.center {
    text-align: center;
}

body{
    background-image: url('https://images.pexels.com/photos/1242764/pexels-photo-1242764.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    position: relative;
}
.navbar-light .navbar-brand {
    color: $main-color;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color:$main-color;
}
.navbar-light .navbar-nav .nav-link{
    color: $main-color;
}

.wrapper{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dashbored-color;
    color: whitex;
    min-height: 100vh;
    min-width: 20vh;
    margin-left: -20vh;
    transition:  1s ease-in-out;
    -webkit-transition:  1s ease-in-out;
    -moz-transition:  1s ease-in-out;
    -o-transition:  1s ease-in-out;

    h3{
        text-align: center;
        margin: 2vh 0;
        color: white;
    }
    .contaier{

        position: relative;
        .show-hide-button{
            position: absolute;
            top:50%;
            right: -3vh;
            color: $dashbored-color;
            cursor: pointer;
            z-index: 0;
        }
        .exit-button{
            position: absolute;
            color: white;
            top:0;
            right: 1vh;
            cursor: pointer;
            z-index: 0;
            transition:  .3s ease-in-out;
            -webkit-transition:  .3s ease-in-out;
            -moz-transition:  .3s ease-in-out;
            -o-transition:  .3s ease-in-out;
        }
        .exit-button:hover{
            color:red;
        }
        .row{
                text-align: center;
            .daashbored-users,
            .daashbored-Products,
            .daashbored-Orders{
                margin-top: 5vh;
                margin-bottom: 5vh;
                padding: 5vh 0;

             }
             a{
                 text-decoration: none;
                 color: white;
              }
            }

        }

} //end of wapper

// Homepage
.background{
    background-color: #0000004f;
    padding: 10vh 0;
    .table{
        color: white;
    }
    #users-link,
    #products-link,
    #orders-link
    {
        text-decoration: none;
        color: $link-color;
    }
    #users-link:hover,
    #products-link:hover,
    #orders-link:hover{
        color: $hover-color;
    }
    h3{
        color: white;
        margin: 15vh 0 0 0;
        padding: 3vh 0;
        border-radius: 2vh 2vh 0 0;
        font-weight: bold;
        text-align: center;
        background-color: #454d55;
        a
        {
            text-decoration: none;
            color: $link-color;
        }
        a:hover
        {
            color:$hover-color;
        }
    }
    .main-h1
    {
        color: white;
        margin: 0;
        padding: 1vh 0;
        border-radius: 2vh 2vh 0 0;
        font-weight: bold;
        text-align: center;
        background-color: #454d55;
    }
    //  register-form
    .note
    {
        text-align: center;
        height: 80px;
        background-color:#454d55;
        color: #fff;
        font-weight: bold;
        line-height: 80px;
    }
    .form-content
    {
        padding: 5%;
        border: 1px solid #ced4da;
        margin-bottom: 2%;
    }
    .form-control{
        border-radius:1.5rem;
    }
    .btnSubmit
    {
        border:none;
        border-radius:1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #0062cc;
        color: #fff;
    }
    .custom-select
    {
        border-radius: 20px;
    }
    .register-form
    {
        label
        {
            color:white;
            background-color: $dashbored-color;
            padding: 1vh;
            border-radius: 20px;
        }
    }
    #Product-img
    {
        img
        {
            width: 40%;
        }
    }
    #Product-img-update
    {
        img
        {
            width: 40%;
        }
    }
}
