// Colors
$background-color: #bdc3c7;
$second-color:#7f8c8d;
$buttons: #c0392b;
$headlines: #ecf0f1;
body{
    background-color: $background-color;
}
.bg-light
{
    background-color: #f8f9fa00 !important;
}
