.selected {
  background-color: #2d3436;
  color: white;
}

.center {
  text-align: center;
}

body {
  background-image: url("https://images.pexels.com/photos/1242764/pexels-photo-1242764.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  position: relative;
}

.navbar-light .navbar-brand {
  color: #ecf0f1;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #ecf0f1;
}

.navbar-light .navbar-nav .nav-link {
  color: #ecf0f1;
}

.wrapper {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343A40;
  color: whitex;
  min-height: 100vh;
  min-width: 20vh;
  margin-left: -20vh;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
.wrapper h3 {
  text-align: center;
  margin: 2vh 0;
  color: white;
}
.wrapper .contaier {
  position: relative;
}
.wrapper .contaier .show-hide-button {
  position: absolute;
  top: 50%;
  right: -3vh;
  color: #343A40;
  cursor: pointer;
  z-index: 0;
}
.wrapper .contaier .exit-button {
  position: absolute;
  color: white;
  top: 0;
  right: 1vh;
  cursor: pointer;
  z-index: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.wrapper .contaier .exit-button:hover {
  color: red;
}
.wrapper .contaier .row {
  text-align: center;
}
.wrapper .contaier .row .daashbored-users,
.wrapper .contaier .row .daashbored-Products,
.wrapper .contaier .row .daashbored-Orders {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 5vh 0;
}
.wrapper .contaier .row a {
  text-decoration: none;
  color: white;
}

.background {
  background-color: #0000004f;
  padding: 10vh 0;
}
.background .table {
  color: white;
}
.background #users-link,
.background #products-link,
.background #orders-link {
  text-decoration: none;
  color: bisque;
}
.background #users-link:hover,
.background #products-link:hover,
.background #orders-link:hover {
  color: brown;
}
.background h3 {
  color: white;
  margin: 15vh 0 0 0;
  padding: 3vh 0;
  border-radius: 2vh 2vh 0 0;
  font-weight: bold;
  text-align: center;
  background-color: #454d55;
}
.background h3 a {
  text-decoration: none;
  color: bisque;
}
.background h3 a:hover {
  color: brown;
}
.background .main-h1 {
  color: white;
  margin: 0;
  padding: 1vh 0;
  border-radius: 2vh 2vh 0 0;
  font-weight: bold;
  text-align: center;
  background-color: #454d55;
}
.background .note {
  text-align: center;
  height: 80px;
  background-color: #454d55;
  color: #fff;
  font-weight: bold;
  line-height: 80px;
}
.background .form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.background .form-control {
  border-radius: 1.5rem;
}
.background .btnSubmit {
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #0062cc;
  color: #fff;
}
.background .custom-select {
  border-radius: 20px;
}
