body {
    background-image: linear-gradient(90deg, #fd5581, #fd8b55);
    background-size: cover;
}
.justify-content-center
 {
     margin-top: 15%;
 }
 .navbar-light .navbar-brand {
    color: black;
  }
.card{
    border-radius: 20px;
}
  .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: black;
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
.wrapper{
    display: none;
}
